{% extends 'main_app.html' %}
{% load static %}

<!-- Title of the page -->
{% block title %}Navigation{% endblock title %}

<!-- Body of the page -->
{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="auto">
            <div class="action action1">
                <div class="head d-flex align-items-center justify-content-between">
                    <h3>Set Navigation</h3>
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </div>
                <p>
                    It has never been that easy to leave from one point to the other. Let's have you some quick
                    guidelines.
                </p>
                <!-- <a href="" class="btn">Start <i class="fa fa-chevron-right" aria-hidden="true"></i></a> -->
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">Start </a>
                </div>

                <!-- Use any element to open the sidenav -->
                <span onclick="openNav()">open</span>

                <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
                <div id="main">
                    ...
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <small class="text-muted">
            A map will surely go here...
        </small>
    </div>
</div>
{% endblock body %}